:root{
    /* --gr: rgb(64, 201, 85); */
    /* --gr: rgb(73, 195, 86); */
    --gr:rgb(41, 48, 56);
    --bl:rgb(13, 110, 253) ;
    --wh:rgb(227, 230, 230);
    --blk:rgb(45, 45, 45);
    --green:rgb(92, 125, 100);
    /* --blk:rgb(0,0,0); */
}
body{
    background-color: var(--wh);
    margin:0px;
}
*{
    color: var(--blk);  
  font-family: "Cantata One", serif;
  font-weight: 400;
  font-style: normal;
}

.font-blk{
  color: var(--blk);
}

.font-wh{
  color: var(--wh);
  
}

.btn-custom{
  background-color: var(--green);
  color: white;
}

.btn-custom:hover{
  background-color: var(--green);
}
/* Header */
header{
    height:90vh;
    background-image: url("/public/media/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Navabar */

.navbar{
    height: 60px;
    background-color: var(--gr);
}



.logo{
    height: 60px;
}



.navbar a:hover{
  color: var(--green);
}

/* UnderNavbar */

.under-navbar{
  background-color: rgb(92, 125, 100);
  height: 35px;
}

.under-navbar a:hover{
  color: var(--blk);
}


/* Register */
.form-box{
  border: 2px solid var(--gr);
  border-radius: 30px;
  padding: 40px 20px
  
}

/* Swiper home*/
.swiper {
  width: 95%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height:100%;
  object-fit: cover;
}


 

    
        



/* CARD */
.badge{
  text-decoration: none;
  background-color: var(--green);
}

/* FOOTER */

footer,footer li,footer h5{
  background-color: var(--gr);
  color: var(--wh);
}
.footer-logo{
  height: 100px;
}

.anchor-footer{
  text-decoration: none;
  color: var(--wh);
}
@media (max-width: 850px) {
  a.navbar-brand,.navbar {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .under-navbar {
    height: 55px;
  }
}